APP_PW= # Create app password in gmail security settings f.e.
MAIL_SERVER= #imap.gmail.com
MAIL_PORT= # 993
EMAIL=
SECPASS= # Login password to secmail
TARGET_PATH= # Base path of were to store pdfs
TIME_UNTIL_NEXT_CHECK= # How long to wait until check if email received (days)
CHROME_PATH= # path to chrome installation